<template>
<div class="create">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span>商品创建</span> 
            <p style="flex:1"></p>
            <el-button type="primary" round @click="back">返回</el-button>
        </div>
    <!-- tab切换开始 -->
        <div class="tab">
            <template>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="基本信息" name="first">
                        <!-- 图片上传开始 -->
                        <div style="position: absolute; left: 440px; top: 80px;">
                             <el-upload
                              class="avatar-uploader"
                              action="http://kg.zhaodashen.cn/v2/upload.php"
                              :show-file-list="false" 
                              :on-success="handleAvatarSuccess" 
                              :before-upload="beforeAvatarUpload">
                              <img v-if="imageUrl" :src="imageUrl" class="avatar">
                              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </div>
                        <!-- 图片上传结束 -->
                        <!-- 基本信息表单开始 -->
                        <div style="width:420px;">
                        <el-form :label-position="labelPosition"  :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="70px" class="demo-ruleForm">
                            <el-form-item style="width:570px;" label="商品名称" prop="goods_name">
                                <el-input type="goods_nameword" v-model="ruleForm.goods_name" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item  label="商品数量" prop="goods_number">
                                <el-input type="goods_nameword" v-model="ruleForm.goods_number" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item  label="商品价格" prop="market_price">
                                <el-input v-model="ruleForm.market_price"></el-input>
                            </el-form-item>
                            <el-form-item  label="促销价" prop="shop_price">
                                <el-input v-model="ruleForm.shop_price"></el-input>
                            </el-form-item>
                            <el-form-item  label="所属分类" prop="market_price">
                                 <el-cascader
                                 :options="options"
                                 :props="props"
                                 v-model="ruleForm.cat_id"
                                 change-on-select
                                 ></el-cascader>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                                <el-button @click="resetForm('ruleForm')">重置</el-button>
                            </el-form-item>
                            </el-form>
                            </div>
                            <!-- 基本信息表单开始 -->
                    </el-tab-pane>
                    <el-tab-pane label="商品描述" name="second">
                        <!-- 编辑器开始 -->
                        <template>
                            <div>
                                <quill-editor ref="myTextEditor" v-model="content" :options="editorOption" style="height:600px;"></quill-editor>
                            </div>
                        </template>
                        <!-- 编辑器结束 -->
                    </el-tab-pane>
                    <el-tab-pane label="商品相册" name="third">
                         <!-- 图片上传开始 -->
                         
                            <el-upload
                            action="http://kg.zhaodashen.cn/v2/upload.php"
                            list-type="picture-card"
                            :on-preview="handlePictureCardPreview"
                            :on-remove="handleRemove">
                            <i class="el-icon-plus"></i>
                            </el-upload>
                            <el-dialog :visible.sync="dialogVisible">
                            <img width="100%" :src="dialogImmarket_priceUrl" alt="">
                            </el-dialog>
                         
                        <!-- 图片上传结束 -->
                    </el-tab-pane>
                    <el-tab-pane label="商品属性" name="fourth">
                        <!-- 商品属性开始 -->
                        
                            <template>
                                商品属性:
                                <el-select v-model="value" placeholder="请选择">
                                    <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                        <!-- 商品属性结束 -->
                    </el-tab-pane>
                </el-tabs>
            </template>
        </div>
    <!-- tab切换结束 -->
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor';

import {shopcateApi,goodsGlApi} from '@/api'

  export default {
     created(){
        shopcateApi.goodsList(this.data)
          .then(res=>{
            console.log(res)
            this.options = res.data.list
          })
     },
       // 方法method开始
      methods: {
        back(){
          this.$router.push({path:'/goods'})
        },
        //   编辑器开始
        onEditorChange({ editor, html, text }) {
            this.content = html;
        },
        //   编辑器结束
          /* 图片上传开始 */
             handleAvatarSuccess(res, file) {
                  this.ruleForm.thumb = file.response.data.img
                  this.imageUrl = URL.createObjectURL(file.raw);
                },
                beforeAvatarUpload(file) {
                  const isJPG = file.type === 'image/jpeg';
                  const isLt2M = file.size / 1024 / 1024 < 2;

                  if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                  }
                  if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                  }
                  return isJPG && isLt2M;
                },
          /* 图片上传结束 */
        //   基本信息开始
            submitForm(formName) {
            this.$refs[formName].validate((valid) => {
            if (valid) {
                // alert('submit!');
                goodsGlApi.goodsCreate(this.ruleForm)
                .then(res=>{
                  console.log(res,999)
                  this.ruleForm.cat_id = this.ruleForm.cat_id[this.ruleForm.cat_id.length-1]
                  if(res.meta.state == 201){
                    this.$message.success('操作成功');
                    this.$router.push({path:'/goods'})
                  }
                })
            } else {
                console.log('error submit!!');
                return false;
            }
            });
            },
            resetForm(formName) {
            this.$refs[formName].resetFields();
            },
        //   基本信息结束
        //   tab
           handleClick(tab, event) {
            console.log(tab, event);
            }
        //   tab
      
    },
     // 方法method结束
    //  编辑器组件
    components: {
        quillEditor
    },
    //  编辑器组件
    data() {
        
      return {
        imageUrl: '',
        ruleForm:{
          attrs:'',
          type_id:'',
          gallery:'',
          goods_desc:'',
          thumb:'',
          shop_price:'',
          market_price:'',
          goods_number:'',
          goods_name:'',
          cat_id:'',
        },
        data:{
          datatotal:'1',
          pmarket_pricenum:'1',
          pmarket_pricesize:'5',
          level:'3',
        },
        //   编辑器开始
        content: '',
            editorOption: {
               placeholder: '编辑文章内容'
             },
        //   编辑器结束
        //   商品属性开始
        props: {
                label: "cat_name",
                value: "cat_id",
            },
        options: [],
        //   所属分类结束
          /* 图片上传开始 */
        dialogImmarket_priceUrl: '',
        dialogVisible: false,
          /* 图片上传结束 */
          //  基本信息表单开始
        labelPosition: 'left',
        rules: {
          goods_name: [],
          goods_number: [],
          market_price: []
        },
       
        //  基本信息表单结束
          //   tab
         activeName: 'first',
         //   tab
        
      };
    }
  };
</script>
<style lang='scss' scoped>
.create{
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
     .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
</style>