<template>
<div class="list" >
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card"  style="width: 100%">
    <div slot="header" class="clearfix">
        <span>请输入商品名</span>
        <p style="flex:1"></p>
        <el-button type="primary" round @click="creatFn" >创建</el-button>
    </div>
    <div class="userKug">
            <p class="a1" style="width:245px">
                    <el-input
                        placeholder="请输入内容"
                        v-model="input"
                        clearable>
                    </el-input>
                </p>
                <p class="a2"><el-button icon="el-icon-search" @click='searchFn'></el-button></p>
                <p class="aa" style="flex:1"></p>
                <p class="a3">
                    <el-date-picker
                      @change='changeTime'
                      v-model="value1"
                      type="datetimerange"
                      align="right"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      :default-time="['12:00:00', '08:00:00']">
                    </el-date-picker>
                </p>
               
    </div>
    <div class="formBD" >
        <template style="width: 100%">
            <el-table :data="tableData" stripe  style="width: 100%">

            <el-table-column prop="goods_id" label="编号" width="80">
            </el-table-column>
            <el-table-column prop="cat_name" label="分类名称" width="100">
            </el-table-column>
            <el-table-column prop="goods_img" label="图片"  width="100">
                  <template slot-scope="item">
                      <img :src="'http://tmp00001.zhaodashen.cn/' + item.row.goods_img"  width=80 height=80/>
                      
                  </template>
            </el-table-column>
            <el-table-column prop="goods_name"  label="标题"  width="200">
            </el-table-column>

            <el-table-column prop="goods_number" label="库存" width="80">
            </el-table-column>
            <el-table-column prop="market_price" label="价格" width="100">
            </el-table-column>
            <el-table-column prop="shop_price" label="促销价"  width="100">
            </el-table-column>
            <el-table-column prop="add_time"  label="创建于"  width="200">
            </el-table-column>

 <!-- <template slot-scope="item">
                    <el-switch
                    @change='stateFn(item.row.cat_id,item.row.state)'
                    active-value=1
                    inactive-value=0
                    v-model="item.row.state"
                    active-color="#13ce66"
                    inactive-color="#ff4949">
                    </el-switch>
                </template> -->

            <el-table-column prop="is_sell" label="上架" width="50">
                    <template slot-scope='item'>
                <el-switch v-model="item.row.is_sell" @change='sellChange(item.row.goods_id,item.row.is_sell)' active-value=1 inactive-value=0  active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                    </template>
            </el-table-column>
            <el-table-column prop="is_hot" label="热卖" width="50">
                <template slot-scope='item'>
                <el-switch v-model="item.row.is_hot" @change='hotChange(item.row.goods_id,item.row.is_hot)' active-value=1 inactive-value=0  active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                </template>
            </el-table-column>
            <el-table-column prop="is_best" label="推荐"  width="50">
                <template slot-scope='item'>
                <el-switch v-model="item.row.is_best"  @change='bestChange(item.row.goods_id,item.row.is_best)' active-value=1 inactive-value=0  active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                </template>
            </el-table-column>
            <el-table-column prop="is_new"  label="新品"  width="150">
                <template slot-scope='item'>
                <el-switch v-model="item.row.is_new"   @change='newChange(item.row.goods_id,item.row.is_new)' active-value=1 inactive-value=0  active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                </template>
            </el-table-column>

            <el-table-column prop="take"  label="操作"  width="250">
              <template slot-scope="item">
                  <el-button type="primary" icon="el-icon-edit" circle></el-button>
                   <el-button type="danger" icon="el-icon-delete" circle @click="delGood(item.row.goods_id)"></el-button>
            </template>
            </el-table-column>

        </el-table>
    </template>
    </div>
    <div class="page">
        <div class="block">
            <!-- <span class="demonstration">完整功能</span> -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage4"
            :page-sizes="[10, 20, 30, 40]"
            layout="total, sizes, prev, pager, next, jumper"
            :total="parseInt(pageTotal)">
            </el-pagination>
        </div>
    </div>
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { goodsGlApi } from '@/api'
// stateChange
  export default {
    created(){
      this.initData()
    },
       // 方法method开始
      methods: {
        hotChange(goods_id,state){
          goodsGlApi.stateChange({goods_id,key:'is_hot',state})
          .then(res=>{
            if(res.meta.state == 200){
              this.$message.success(res.meta.msg)
            }
          })
        },
        bestChange(goods_id,state){
          goodsGlApi.stateChange({goods_id,key:'is_best',state})
          .then(res=>{
            if(res.meta.state == 200){
              this.$message.success(res.meta.msg)
            }
          })
        },
        newChange(goods_id,state){
          goodsGlApi.stateChange({goods_id,key:'is_new',state})
          .then(res=>{
            if(res.meta.state == 200){
              this.$message.success(res.meta.msg)
            }
          })
        },
        sellChange(goods_id,state){
          goodsGlApi.stateChange({goods_id,key:'is_sell',state})
          .then(res=>{
            if(res.meta.state == 200){
              this.$message.success(res.meta.msg)
            }
          })
        },
        creatFn(){
          this.$router.push({path:'goods/create'})
          this.initData()
        },
        delGood(goods_id){
          goodsGlApi.goodsDelete({goods_id})
          .then(res=>{
            console.log(res)
            if(res.meta.state == 200){
              this.$message.success('操作成功')
              this.initData()
            }else{
              this.$message.error(res.meta.msg)
            }
          })
        },
        changeTime(){
          console.log(this.value1)
            this.formData.start_time = this.value1[0]
            this.formData.end_time = this.value1[1]
            this.initData()
        },
        searchFn(){
          this.formData.goods_name = this.input
          this.initData()
        },
        initData(){
          goodsGlApi.goodsList(this.formData)
          .then(res=>{
            console.log(res)
            this.tableData = res.data.list
            this.pageTotal = parseInt(res.data.total)
          })
        },
        //分页
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.formData.pagesize = val
        this.initData()
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
        this.formData.pagenum = val
        this.initData()
      }
    },
     // 方法method结束
    data() {
      return {
        pageTotal:'',
        formData:{
          pagenum:'',
          pagesize:'',
          start_time:'',
          end_time:'',
          goods_name:'',
          is_delete:'',
        },
        //   分页开始
        currentPage1: 5,
        currentPage2: 5,
        currentPage3: 5,
        currentPage4: 4,
        // 分页结束
          //表格开始
          tableData: [{
          goods_id: '2-02',
          name: '王小虎',
          img:'1',
          title: '你好',
          kucun:'11',
          price:'18￥',
          shopPrice:'18￥',
          createTime:'2020-3',
          up:true,
          hot:true,
          commit:true,
          new:false,
        }],
          //表格结束
          input:'',
        // 时间选择器
        pickerOptions: {
          shortcuts: []
        },
        value1: '',
        value2: '',
        value3: '',
        value4: '',
        value5: '',
      };
    }
  };
</script>
<style lang='scss' scoped>
.list{
    .userKug{display: flex; justify-content: space-between;
    }
    .formBD{margin-top: 20px; width:100%}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    
}
</style>