<template>
<div class="list" >
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card"  style="width: 100%">
    <div slot="header" class="clearfix">
        <span>请输入商品名</span>
        <p style="flex:1"></p>
        <el-button type="primary" round @click="back">返回</el-button>
    </div>
    <div class="userKug">
            <p class="a1" style="width:245px">
                    <el-input
                        placeholder="请输入内容"
                        v-model="input"
                        clearable>
                    </el-input>
                </p>
                <p class="a2"><el-button icon="el-icon-search" @click='searchFn'></el-button></p>
                <p class="aa" style="flex:1"></p>
                <p class="a3">
                    <template>
                        <div class="block">
                            <el-date-picker
                            @change='changeTime'
                            v-model="value1"
                            type="datetimerange"
                            align="right"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            :default-time="['12:00:00', '08:00:00']">
                          </el-date-picker>
                        </div>
                    </template>
                </p>
               
    </div>
    <div class="formBD" >
        <template style="width: 100%">
            <el-table :data="tableData" stripe  style="width: 100%">

            <el-table-column prop="goods_id" label="编号" width="80">
            </el-table-column>
            <el-table-column prop="goods_img" label="图片"  width="100">
                  <template slot-scope='item'>
                      <img :src=" 'http://tmp00001.zhaodashen.cn/' + item.row.goods_img " width=80 height=80/>
                  </template>
            </el-table-column>
            <el-table-column prop="goods_name"  label="标题"  width="200">
            </el-table-column>

            <el-table-column prop="goods_number" label="库存" width="80">
            </el-table-column>
            <el-table-column prop="market_price" label="价格" width="100">
            </el-table-column>
            <el-table-column prop="shop_price" label="促销价"  width="100">
            </el-table-column>
            <el-table-column prop="add_time"  label="创建于"  width="200">
            </el-table-column>

            <el-table-column prop="is_sell" label="上架" width="50">
                <el-switch disabled v-model="value2" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
            </el-table-column>
            <el-table-column prop="is_hot" label="热卖" width="50">
                <el-switch disabled v-model="value2" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
            </el-table-column>
            <el-table-column prop="is_best" label="推荐"  width="50">
                <el-switch disabled v-model="value2" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
            </el-table-column>
            <el-table-column prop="is_new"  label="新品"  width="150">
                <el-switch disabled  v-model="value2" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
            </el-table-column>

         

        </el-table>
    </template>
    </div>
    <div class="page">
        <div class="block">
            <!-- <span class="demonstration">完整功能</span> -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage4"
            :page-sizes="[10, 20, 30, 40]"
            layout="total, sizes, prev, pager, next, jumper"
            :total="parseInt(pageTotal)">
            </el-pagination>
        </div>
    </div>
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { goodsGlApi } from '@/api'
  export default {
    created(){
      this.initData()
    },
       // 方法method开始
      methods: {
        back(){
          this.$router.push({path:'/goods'})
        },
        changeTime(){
          console.log(this.value1)
            this.formData.start_time = this.value1[0]
            this.formData.end_time = this.value1[1]
            this.initData()
        },
        searchFn(){
          this.formData.goods_name = this.input
          this.initData()
        },
      initData(){
          goodsGlApi.goodsList(this.formData)
          .then(res=>{
            console.log(res)
            this.tableData = res.data.list
            this.pageTotal = parseInt(res.data.total)
          })
        },
       handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.formData.pagesize = val
        this.initData()
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
        this.formData.pagenum = val
        this.initData()
      }
    },
     // 方法method结束
    data() {
      return {
        pageTotal:'',
        formData:{
          pagenum:'',
          pagesize:'',
          start_time:'',
          end_time:'',
          goods_name:'',
          is_delete:'',
        },
        //   分页开始
        currentPage1: 5,
        currentPage2: 5,
        currentPage3: 5,
        currentPage4: 4,
        // 分页结束
          //表格开始
          tableData: [],
          //表格结束
          input:'',
        // 时间选择器
        pickerOptions: {
          shortcuts: []
        },
        value1: '',
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.list{
    .userKug{display: flex; justify-content: space-between;
    }
    .formBD{margin-top: 20px; width:100%}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    
}
</style>