<template>
<div class="list">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
        <div>
            <div class="userData">
                <p class="a1">
                    <el-input
                        placeholder="请输入内容"
                        v-model="input"
                        clearable>
                    </el-input>
                </p>
                <p class="a2"><el-button icon="el-icon-search"></el-button></p>
                <p class="a3" style="margin-left:10px"><el-button type="primary" plain>添加用户</el-button></p>
                <p class="aa"></p>
                <p class="a4">
                    <template>
                        <el-time-select
                            placeholder="选择日期时间"
                            v-model="startTime"
                            :picker-options="{
                            start: '08:30',
                            step: '00:15',
                            end: '18:30'
                            }">
                        </el-time-select>
                        <el-time-select
                            placeholder="选择日期时间"
                            v-model="endTime"
                            :picker-options="{
                            start: '08:30',
                            step: '00:15',
                            end: '18:30',
                            minTime: startTime
                            }">
                        </el-time-select>
                    </template>
                </p>
                <p class="a5"><el-button icon="el-icon-search"></el-button></p>
            </div>
            <div class="card">
                <el-card class="box-card">
                      <template>
                            <el-table
                            :data="tableData"
                            style="width: 100%">
                            <el-table-column
                                prop="goods_sn"
                                label="编号"
                                width="130">
                            </el-table-column>
                            <el-table-column
                                prop="goods_name"
                                label="角色"
                                width="80">
                            </el-table-column>
                            <el-table-column
                                prop="username"
                                label="用户名">
                            </el-table-column>
                            <el-table-column
                                prop="email"
                                label="邮箱">
                            </el-table-column>
                            <el-table-column
                                prop="mobile"
                                label="手机号">
                            </el-table-column>
                            <el-table-column
                                prop="data"
                                label="时间">
                            </el-table-column>
                            <el-table-column
                                prop="state"
                                label="用户状态">
                                <template>
                                    <el-switch
                                        v-model="value2"
                                        active-color="#13ce66"
                                        inactive-color="#ff4949">
                                    </el-switch>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="take"
                                label="操作">
                                <el-button type="primary" icon="el-icon-edit" circle></el-button>
                                <el-button type="danger" icon="el-icon-delete" circle></el-button>
                                <el-button type="success" icon="el-icon-check" circle></el-button>
                            </el-table-column>
                            </el-table>
                    </template>
                </el-card>
            </div>
            <div class="page">
                <template>
                    <el-pagination
                    background
                    @current-change="changePage"
                    layout="prev, pager, next"
                    :page-size='form.pagesize'
                    :current-page='form.pageno'
                    :total='form.pageTotal'>
                    </el-pagination>
                </template>
            </div>
        </div>
      
       
     </transition>
</div>
</template>
<script>
import { getListApi } from '@/api'
export default {
    methods:{
        changePage(val) {
        console.log(val)
        
        this.form.pageno = val
        let getData = this.form
         getListApi(getData)
        .then(res=>{
            console.log(res)
            this.tableData = res.data.list
            this.pageTotal = parseInt(res.data.total)
        })
    },
    },
    data() {
         
        getListApi()
        .then(res=>{
            console.log(res)
            this.tableData = res.data.list
        })
      return {
         form:{
          pagesize:1,
          //分页
          pageno:3,
          pageTotal:10,
        }, 
          //开关
        value1: false,
        value2: true,
        //开关
        input: '',
        startTime: '',
        endTime: '',
        //表格开始
        tableData: [{
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄',
            username:'adfsd',
            email:'1111@qq.com',
            mobile:'12233344',
            data:'2020-2-22'
          }, {
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄',
            username:'adfsd',
            email:'1111@qq.com',
            mobile:'12233344',
            data:'2020-2-22'
          },{
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄',
            username:'adfsd',
            email:'1111@qq.com',
            mobile:'12233344',
            data:'2020-2-22'
          },{
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄',
            username:'adfsd',
            email:'1111@qq.com',
            mobile:'12233344',
            data:'2020-2-22'
          },]
        // 表格结束
      }
    }
  }
</script>
<style lang='scss' scoped>
.list{
    padding: 40px;
    .userData{height: 100px; background: chartreuse; display: flex; justify-content: space-between;
    .aa{flex: 1;}
    }
//卡片开始
 .text {
    font-size: 14px;
  }

  .item {
    padding: 18px 0;
  }

  .box-card {
    width: 100%;
  }
}
//卡片结束
.page{float: right;}
</style>