<template>
<div class="list" >
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card"  style="width: 100%">
    <div slot="header" class="clearfix">
        <span>订单列表</span>
        <p style="flex:1"></p>
        <el-button type="primary" round >导出数据</el-button>
    </div>
    <div class="userKug">
                <p class="a1" style="width:245px; display:flex">
                    <el-input placeholder="下单人" v-model="input" clearable></el-input>
                    <el-button icon="el-icon-search" @click='searchXdrFn'></el-button> 
                </p>
                <p class="a1" style="width:245px; display:flex; margin-left:20px">
                    <el-input placeholder="收货人" v-model="input1" clearable></el-input>
                    <el-button icon="el-icon-search" @click='searchShrFn'></el-button> 
                </p>
                <p class="aa" style="flex:1"></p>
                <p class="a3">
                    <template>
                        <div class="block">
                            <el-date-picker
                            @change="timeFn" 
                            v-model="value1"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            type="datetimerange"
                            range-separator="至"
                            start-placeholder="下单开始日期"
                            end-placeholder="下单结束日期">
                            </el-date-picker>
                        </div>
                    </template>
                </p>
               
    </div>
    <div class="formBD" >
        <template style="width: 100%">
            <el-table :data="tableData" stripe  style="width: 100%">

            <el-table-column prop="order_sn" label="订单号" width="100" align="center">
            </el-table-column>
            <el-table-column prop="add_time" label="下单时间" width="100" align="center">
            </el-table-column>
            <el-table-column prop="username" label="下单人"  width="100" align="center">
            </el-table-column>
            <el-table-column prop="consignee"  label="收货人"  width="100" align="center">
            </el-table-column>

            <el-table-column prop="order_amount" label="总额" width="80">
            </el-table-column>
            <el-table-column prop="order_status" label="订单状态" width="100" align="center">
                <template slot-scope='item'>
                    <el-tag :type='item.row.order_status | elTagTypeFilter'>{{ item.row.order_status | orderStatusFilter}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column prop="pay_status" label="支付状态"  width="100" align="center">
                <template slot-scope='item'>
                    <!-- <el-tag :type='tagState[item.row.pay_status]'>{{payState[item.row.pay_status]}}</el-tag> -->
                    <el-tag :type='item.row.pay_status | elTagTypeFilter'>{{ item.row.pay_status | payStatusFilter}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column prop="shipping_status"  label="配送情况"  width="200" align="left">
                <template slot-scope='item'>
                    <el-tag :type='item.row.shipping_status | elTagTypeFilter'>{{item.row.shipping_status | shippingStatusFilter}}</el-tag>
                </template>
            </el-table-column>


            <el-table-column prop="take"  label="操作 "  width="450" align="right">
              <template slot-scope='item'>
                  <el-button type="primary" icon="el-icon-edit" circle></el-button>
                   <el-button type="danger" icon="el-icon-delete" circle @click="delFn(item.row.order_sn)"></el-button>
              </template>
            </el-table-column>

        </el-table>
    </template>
    </div>
    <div class="page">
        <div class="block">
            <!-- <span class="demonstration">完整功能</span> -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-sizes="[10, 20, 30, 40]"
            layout="total, sizes, prev, pager, next, jumper"
            :total="pagetotal">
            </el-pagination>
        </div>
    </div>
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { orderGlApi } from '@/api'
  export default {
    created(){
      this.initData()
    },
       // 方法method开始
      methods: {
        
        delFn(order_id){
              orderGlApi.orderDel({order_id})
              .then(res=>{
                console.log(res)
                if(res.meta.state == 200){
                  this.$message.success(res.meta.msg)
                  this.initData()
                }else{
                   this.$message.error(res.meta.msg)
                }
              })
        },
        timeFn(){
          this.apiDataparams.start_time = this.value1[0]
          this.apiDataparams.end_time = this.value1[1]
          this.initData()
        },
        searchXdrFn(){
          this.apiDataparams.uname = this.input
          this.initData()
        },
        searchShrFn(){
          this.apiDataparams.consignee = this.input1
          this.initData()
        },
        //封装接口
        initData(){
           const loading = this.$loading({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(0, 0, 0, 0.7)'
          });

          orderGlApi.orderList(this.apiDataparams)
          .then(res=>{
            loading.close();
            console.log(res)
            this.tableData = res.data.list
            this.pagetotal = parseInt(res.data.total)
          })
        },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.apiDataparams.pagesize = val
        this.initData()
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
        this.apiDataparams.pagenum = val
        this.initData()
      }
    },
     // 方法method结束
    data() {
      return {
        tagState:['','success','info'],
        shopState:['','success','info','waring'],
        orderState:['未确认','已确认','已取消'],
        payState:['未付款','付款中','已付款'],
        shopState:['未发货','已发货','已收货','备货中'],
        pagetotal:'',
         apiDataparams:{
           pagenum:'',
           pagesize:'',
           order_sn:'',
           start_time:'',
           end_time:'',
           consignee:'',
           uname:'',
           is_delete:'',
         },
          //表格开始
          tableData: [],
          //表格结束
          input:'',
          input1:'',
        // 时间选择器
        pickerOptions: {
          shortcuts: []
        },
        value1: '',
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.list{
    .userKug{display: flex; justify-content: space-between;
    }
    .formBD{margin-top: 20px; width:100%}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    
}
</style>