<template>
<div class="list" >
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card"  style="width: 100%">
    <div slot="header" class="clearfix">
        <span>订单列表</span>
        <p style="flex:1"></p>
        <el-button type="primary" round >导出数据</el-button>
    </div>
    <div class="userKug">
                <p class="a1" style="width:245px; display:flex">
                    <el-input placeholder="下单人" v-model="inputXD" clearable></el-input>
                    <el-button icon="el-icon-search" @click='xdFn'></el-button> 
                </p>
                <p class="a1" style="width:245px; display:flex; margin-left:20px">
                    <el-input placeholder="收货人" v-model="inputSH" clearable></el-input>
                    <el-button icon="el-icon-search" @click='shFn'></el-button> 
                </p>
                <p class="aa" style="flex:1"></p>
                <p class="a3">
                    <template>
                        <div class="block">
                            <el-date-picker
                            @change="timeFn" 
                            v-model="value1"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            type="datetimerange"
                            range-separator="至"
                            start-placeholder="下单开始日期"
                            end-placeholder="下单结束日期">
                            </el-date-picker>
                        </div>
                    </template>
                </p>
               
    </div>
    <div class="formBD" >
        <template style="width: 100%">
            <el-table :data="tableData" stripe  style="width: 100%">

            <el-table-column prop="order_sn" label="订单号" width="300" align="center">
            </el-table-column>
            <el-table-column prop="add_time" label="下单时间" width="350" align="center">
            </el-table-column>
            <el-table-column prop="username" label="下单人"  width="80" align="center">
            </el-table-column>
            <el-table-column prop="consignee"  label="收货人"  width="150" align="center">
            </el-table-column>

            <el-table-column prop="order_amount" label="总额" width="150">
            </el-table-column>
            <el-table-column prop="order_status" label="订单状态" width="100" align="center">
                <template slot-scope='item'>
                    <el-tag :type='tagState[item.row.order_status]'>{{orderState[item.row.order_status]}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column prop="pay_status" label="支付状态"  width="100" align="center">
                <template slot-scope='item'>
                    <el-tag :type='tagState[item.row.pay_status]'>{{payState[item.row.pay_status]}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column prop="shipping_status"  label="配送情况"  width="200" align="left">
                <template slot-scope='item'>
                    <el-tag :type='shopState[item.row.shipping_status]'>{{shopState[item.row.shipping_status]}}</el-tag>
                </template>
            </el-table-column>

        </el-table>
    </template>
    </div>
    <div class="page">
        <div class="block">
            <!-- <span class="demonstration">完整功能</span> -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage4"
             :page-sizes="[10, 20, 30, 40]"
            layout="total, sizes, prev, pager, next, jumper"
            :total="pagetotal">
            </el-pagination>
        </div>
    </div>
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { orderGlApi } from '@/api'
  export default {
    created(){
      this.initData()
    },
       // 方法method开始
      methods: {
         timeFn(){
          this.apiDataparams.start_time = this.value1[0]
          this.apiDataparams.end_time = this.value1[1]
          this.initData()
        },
        xdFn(){
         this.apiDataparams.uname = this.inputXD
          this.initData()
        },
        shFn(){
           this.apiDataparams.consignee = this.inputSH
          this.initData()
        },
        //封装接口
        initData(){
           const loading = this.$loading({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(0, 0, 0, 0.7)'
          });

          orderGlApi.orderList(this.apiDataparams)
          .then(res=>{
            loading.close();
            // console.log(res)
            this.tableData = res.data.list
            this.pagetotal = parseInt(res.data.total)
          })
        },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.apiDataparams.pagesize = val
        this.initData()
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
        this.apiDataparams.pagenum = val
        this.initData()
      }
    },
     // 方法method结束
    data() {
      return {
        tagState:['','success','info'],
        shopState:['','success','info','waring'],
        orderState:['未确认','已确认','已取消'],
        payState:['未付款','付款中','已付款'],
        shopState:['未发货','已发货','已收货','备货中'],
         pagetotal:'',
        apiDataparams:{
           pagenum:'',
           pagesize:'',
           order_sn:'',
           start_time:'',
           end_time:'',
           consignee:'',
           uname:'',
           is_delete:'',
         },
        //   分页开始
        currentPage1: 5,
        currentPage2: 5,
        currentPage3: 5,
        currentPage4: 4,
        // 分页结束
          //表格开始
          tableData: [],
          //表格结束
          input:'',
          input1:'',
        // 时间选择器
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.consigneeTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.consigneeTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.consigneeTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        value1: '',
        value22: '',
        inputSH:'',
        inputXD:''
      };
    }
  };
</script>
<style lang='scss' scoped>
.list{
    .userKug{display: flex; justify-content: space-between;
    }
    .formBD{margin-top: 20px; width:100%}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    
}
</style>