<template>
<div class="orderCal" >
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card"  style="width: 100%">
    <div slot="header" class="clearfix">
        <span>订单统计</span>
        <p style="flex:1"></p>
        <el-button type="primary" round >创建</el-button>
    </div>
    <div class="userKug">
            <p class="a1" style="width:245px">
                    <el-input
                        placeholder="请输入内容"
                        v-model="input"
                        clearable>
                    </el-input>
                </p>
                <p class="a2"><el-button icon="el-icon-search"></el-button></p>
                <p class="aa" style="flex:1"></p>
                <p class="a3">
                    <template>
                        <div class="block">
                            <el-date-picker
                            @change='changeTime'
                            v-model="shuDate"
                            type="datetimerange"
                            align="right"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            :default-time="['12:00:00', '08:00:00']">
                          </el-date-picker>
                        </div>
                    </template>
                </p>
               
    </div>
    <div class="formBD" >
        <!-- echarts开始 -->
        <div class="Echarts">
            <div ref="echarts" style="width: 100%;height:400px;"></div>
        </div>
  <!-- echarts -->
    </div>
    <div class="page">
       
    </div>
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>

import { orderGlApi } from '@/api'

  export default {
    created(){
      this.initData()
    },
      mounted() {
        this.myEcharts();
    },
       // 方法method开始
      methods: {
        changeTime(){
             this.apiDataparams.start_time = this.shuDate ? this.shuDate[0] : '',
             this.apiDataparams.end_time = this.shuDate ? this.shuDate[1] : ''
          // this.apiDataparams.start_time = this.value1[0]
          // this.apiDataparams.end_time = this.value1[1]
          console.log( this.shuDate[0],this.this.shuDate[1])
           orderGlApi.orderTj(this.apiDataparams)
           .then(res=>{
             console.log(res)
             this.titleDataArr = res.data.data
             this.titleArr = res.data.title
             this.myEcharts();
           })
        },
        initData(){
          const loading = this.$loading({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(0, 0, 0, 0.7)'
          });
          orderGlApi.orderTj(this.apiDataparams)
          .then(res=>{
            loading.close();
            // console.log(res)
            this.titleDataArr = res.data.data
            this.titleArr = res.data.title
            this.myEcharts();
          })
        },
          myEcharts()
      {
		  // 基于准备好的dom，初始化echarts实例
		  let myChart = this.$echarts.init(this.$refs.echarts);

		  // 指定图表的配置项和数据
		  let option = {
			  title: {
				  text: ''
			  },
			  tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    },
                    formatter: function (params) {
                        var tar = params[0];
                        return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
                    }
              },
			  legend: {
				  data:['']
			  },
			  xAxis: {
				  data: this.titleArr
			  },
			  yAxis: {},
			  series: [{
                name: '销量',
                type: 'bar',
                label: {
                    show: true,
                    position: 'inside'
                },
                data: this.titleDataArr
			  }]
		  };

		  // 使用刚指定的配置项和数据显示图表。
		  myChart.setOption(option);
        },
        
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      }
    },
    
     // 方法method结束
    data() {
      return {
        shuDate:[],
          apiDataparams:{
            consignee:'',
            start_time:'',
            end_time:'',
          },
          titleDataArr: [5, 20, 36, 10, 10, 20],
            titleArr: ['一月', '二月', '三月', '四月', '五月'],
        //   分页开始
        
        // 分页结束
          //表格开始
          
          //表格结束
          input:'',
        // 时间选择器
        pickerOptions: {
          shortcuts: []
        },
        value1: [],
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.orderCal{
    .userKug{display: flex; justify-content: space-between;
    }
    .formBD{margin-top: 20px; width:100%}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    
}
</style>