<template>
<div class="create">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
    <div slot="header" class="clearfix">
         <span>创建商品分类</span> 
         <p style="flex:1"></p>
        <el-button type="primary" round @click='backShopCate'>返回</el-button>
    </div>
     <div class="form">
         <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="分类名称" prop="cat_name">
                <el-input type="cat_nameword" v-model="ruleForm.cat_name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="所属分类" prop="keywords">
                <div class="block">
                <!-- <span class="demonstration">默认 click 触发子菜单</span> -->
                <el-cascader
                    :options="options"
                    :props="props"
                    v-model="ruleForm.parent_id"
                    @change="handleChange">
                </el-cascader>
                </div>  
            </el-form-item>
            <el-form-item label="关键词" prop="keywords">
                <el-input type="cat_nameword" v-model="ruleForm.keywords" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="跳转" prop="url">
                <el-input v-model="ruleForm.url"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                <el-button @click="resetForm('ruleForm')">重置</el-button>
            </el-form-item>
        </el-form>
     </div>
     
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import {shopcateApi} from '@/api'
  export default {
    created(){
      this.initData()
    },
       // 方法method开始
      methods: {
        initData(){
          shopcateApi.goodsList(this.data)
          .then(res=>{
            
            console.log(res,11)
            this.options = res.data.list
           
          })
        },
          //级联选择器开始
          handleChange(value) {
        // console.log(value);
      },
          //级联选择器结束
          //表单开始
          submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert('submit!');
            this.ruleForm.parent_id = this.ruleForm.parent_id[this.ruleForm.parent_id.length-1]
            this.ruleForm.parent_id = parseInt(this.ruleForm.parent_id)
            shopcateApi.goodsCreate(this.ruleForm)
            .then(res=>{
              console.log(typeof this.ruleForm.parent_id)
              console.log(this.ruleForm)
              if (res.meta.state == 201)
                        {
                            this.$message.success(res.meta.msg);
                            this.$router.push({path:'/goods/type'})
                        } else {
                           
                            this.$message.error(res.meta.msg);
                        }
            })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
        //   表单结束
      backShopCate(){
          this.$router.push({path:'/goods/type'})
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      }
    },
     // 方法method结束
    
    data() {
      return {
        data:{
          datatotal:'1',
          pagenum:'1',
          pagesize:'5',
          level:'3',
        },
        // 级联选择器开始
        props: {
                label: "cat_name",
                value: "cat_id",
            },
        options: [],
        
        
        // 级联选择器结束
          input:'',
        // 表单开始
ruleForm: {
          cat_name: '',
          parent_id:'',
          keywords: '',
          url: ''
        },
        rules: {
          cat_name: [
            { required: true, message: '请输入分类名称', trigger: 'change' }, 
             { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
          ],
          keywords: [
            
          ],
          url: [
            
          ]
        },
      
        // 表单结束
        value1: '',
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.create{
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    .userKug{display: flex; justify-content: space-between;
    }
    // .formBD{clear: both;}
    .purl{background: #EBEEF5;width: 100%; text-align: right;}
}
</style>