<template>
<div class="list">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
    <div slot="header" class="clearfix">
         <span>商品分类</span> 
         <p style="flex:1"></p>
        <el-button type="primary" round @click='createShopCate'>创建</el-button>
    </div>
    <div class="formBG">
        <template>
           <el-table
                :data="tableData"
                style="width: 100%"
                row-key="cat_id"
                >
                <el-table-column
                prop="cat_id"
                label="编号"
                width="180">
                </el-table-column>
                <el-table-column
                prop="cat_name"
                label="分类"
                width="180">
                </el-table-column>
       
                <el-table-column label="分类层级">
                    <template slot-scope="item">
                        <!-- <el-tag type="success">{{data.levelData[item.row.level]}}</el-tag> -->
                        <el-tag type="success">{{item.row.level | cateFilter}}</el-tag>
                    </template>
                </el-table-column>

            </el-table>

    </template>
    </div>
    <div class="page">
        <div class="block">
           <!-- 分页 -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-sizes="[5, 10, 15, 20]"
            :page-size=parseInt(data.pagesize)
            layout="total, sizes, prev, pager, next, jumper"
            :total=parseInt(data.datatotal)>
            </el-pagination>
            
        </div>
    </div>
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import {shopcateApi} from '@/api'
  export default {
    created(){
      this.initData()
    },
       // 方法method开始
      methods: {
        initData(){
          shopcateApi.goodsList(this.data)
          .then(res=>{
            console.log(res)
            this.tableData = res.data.list
            this.data.datatotal = parseInt(res.data.total)
          })
        },

      createShopCate(){
          this.$router.push({path:'cate/create'})
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.data.pagesize = val
        this.initData()
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
        this.data.pagenum = val
        this.initData()
      }
    },
     // 方法method结束
    data() {
      return {
        data:{
          datatotal:'1',
          levelData:['','一级分类','二级分类','三级分类'],
          pagenum:'1',
          pagesize:'5',
          level:'3',
        },
          //表格开始
        tableData: [],
   
      };
    }
  };
</script>
<style lang='scss' scoped>
.list{
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    .userKug{display: flex; justify-content: space-between;
    }
    // .formBG{clear: both;}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
}
</style>