<template>
<div class="list">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
    <div slot="header" class="clearfix">
         <span>角色列表</span> 
         <p style="flex:1"></p>
        <el-button type="primary" round @click='createShopCate'>创建</el-button>
    </div>
    <!-- 表单开始 -->
    <div class="formBG">
       <template>
        <el-table
            :data="tableData"
            stripe
            style="width: 100%">
            <el-table-column
            prop="role_id"
            label="编号"
            width="100">
            </el-table-column>
            <el-table-column
            prop="role_name"
            label="角色名称"
            width="150">
            </el-table-column>
            <el-table-column
            prop="role_describe"
            label="角色描述"
            width="150">
            </el-table-column>
            <el-table-column
            prop="take"
            label="操作">
                <template slot-scope='item'>
                    <el-button type="primary" round @click='fpqxFn(item.row)'>分配权限</el-button>
                    <el-button type="primary" icon="el-icon-edit" circle></el-button>
                    <el-button type="danger" icon="el-icon-delete" circle></el-button>
                </template>
            </el-table-column>
        </el-table>
        </template>
    </div>
    <!-- 表单结束 -->
     <!-- 弹框 -->
    <el-dialog title="编辑角色权限" :visible.sync="dialogFormVisible">
  <el-form :model="form">
        <el-tree
        :data="treeData"
        :props="props"
        :load="loadNode"
        ref="tree"
        show-checkbox
        node-key="auth_id"
        :default-expanded-keys="defaultAuthIds"
        :default-checked-keys="defaultAuthIds"
        @check-change="handleCheckChange">
        </el-tree>
  </el-form>
  <!-- 弹框 -->
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="addPowerFn">确 定</el-button>
  </div>
</el-dialog>

    </el-card>
   
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { roleGlApi } from "@/api"
  export default {
      created(){
        this.initData()
        this.initAuth()
      },
       // 方法method开始
      methods: {
        addPowerFn(){
          let parentArr = []
          let childrenArr = []
          if(this.$refs.tree.getCheckedNodes())
          {    console.log(this.$refs.tree.getCheckedNodes(),11)
              this.$refs.tree.getCheckedNodes().forEach(firstItem=>
              {
                  
                  if(firstItem.auth_id) parentArr.push(firstItem.auth_id)
                  if(firstItem.children) 
                  {
                    firstItem.children.forEach(twoItem=>{
                        parentArr.push(twoItem.auth_id)
                        childrenArr.push(twoItem.auth_id)
                    })
                  } 
              })
          }
          //接口
          let auth_ids = parentArr.join(',')
          let auth_ids_son = childrenArr.join(',')
          roleGlApi.rolePower({
              role_id:this.apiDataParams.role_id,
              auth_ids,
              auth_ids_son
          })
          .then(res=>{
            // console.log(res)
            if(res.meta.state == 200){
                this.$message.success('操作成功');
                this.initData()
            }else{
              this.$message.error(res.meta.msg);
            }
          })

          this.dialogFormVisible = false
        },
        //分配权限
        fpqxFn(row){
            this.apiDataParams.role_id = row.role_id
             
             let temp = row.auth_ids_son ? row.auth_ids_son.split(',') :[]
             
             this.defaultAuthIds = temp
             
             this.dialogFormVisible = true
        },
        initAuth(){
          roleGlApi.poewrList()
          .then(res=>{
            // console.log(res)
            this.treeData = res.data
          })

        },
        initData(){  //角色列表封装
            roleGlApi.roleList()
            .then(res=>{
              // console.log(res,11)
              this.tableData = res.data
            })
        },
        
          //表单开始
         handleCheckChange(data, checked, indeterminate) {
        console.log(data, checked, indeterminate);
      },
      handleNodeClick(data) {
        console.log(data);
      },
      loadNode(node, resolve) {
        if (node.level === 0) {
          return resolve([{ name: 'region1' }, { name: 'region2' }]);
        }
        if (node.level > 3) return resolve([]);

        var hasChild;
        if (node.data.name === 'region1') {
          hasChild = true;
        } else if (node.data.name === 'region2') {
          hasChild = false;
        } else {
          hasChild = Math.random() > 0.5;
        }

        setTimeout(() => {
          var data;
          if (hasChild) {
            data = [{
              name: 'zone' + this.count++
            }, {
              name: 'zone' + this.count++
            }];
          } else {
            data = [];
          }

          resolve(data);
        }, 500);
      },
          //表单结束
      createShopCate(){
          this.$router.push({path:'roles/create'})
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      }
    },
     // 方法method结束
    data() {
      return {
        defaultAuthIds:[],
        apiDataParams:{
          role_id:'',
          auth_ids:'',
          auth_ids_son:'',
        },
         treeData:[],
          //弹框开始
           props: {
          label: 'auth_name',
          children: 'children'
        },
        count: 1,
          //弹框结束
        //   分页开始
        gridData: [],
        dialogTableVisible: false,
        dialogFormVisible: false,
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        formLabelWidth: '120px',
        // 分页结束
          //表格开始
          tableData: [],
          //表格结束
          input:'',
        
        value1: '',
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.list{
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    .userKug{display: flex; justify-content: space-between;
    }
    // .formBG{clear: both;}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
}
</style>