<template>
<div class="create">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
    <div slot="header" class="clearfix">
         <span>创建商品分类</span> 
         <p style="flex:1"></p>
        <el-button type="primary" round @click='backShopCate'>返回</el-button>
    </div>
     <div class="form">
         <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="属性名称" prop="attr_name">
                <el-input type="attr_nameword" v-model="ruleForm.attr_name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="所属类型" prop="cat_id">
                <div class="block">
                <template>
                      <el-select v-model="ruleForm.cat_id" placeholder="请选择">
                        <el-option
                          v-for="item in options"
                          :key="item.cat_id"
                          :label="item.cat_name"
                          :value="item.cat_id">
                        </el-option>
                      </el-select>
                    </template>
                </div>  
            </el-form-item>
            <el-form-item label="单/多选属性" prop="only_many">
                <template>
                    <el-radio v-model="ruleForm.only_many" label="1">唯一</el-radio>
                    <el-radio v-model="ruleForm.only_many" label="2">多选</el-radio>
                    </template>
            </el-form-item>
            <el-form-item label="值录入方式" prop="input_select">
                <template>
                    <el-radio v-model="ruleForm.input_select" label="1">手动录入</el-radio>
                    <el-radio v-model="ruleForm.input_select" label="2">从下方选择</el-radio>
                    </template>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                <el-button @click="resetForm('ruleForm')">重置</el-button>
            </el-form-item>
        </el-form>
     </div>
     
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { goodsAttrApi } from '@/api'
  export default {
    created(){
      this.initData()
    },
       // 方法method开始
      methods: {
        //接口封装 
       initData(){
        goodsAttrApi.goodsAttr({
          pagenum:1,
          pagesize:15
        })
        .then(res=>{
          console.log(res)
          this.options = res.data.list
          // this.pagetotal = parseInt(res.data.total)
        })
      },  
       
          //级联选择器结束
          //表单开始
          submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert('submit!');
            this.ruleForm.only_many = this.ruleForm.only_many == 1 ? 'only' : 'many'
            this.ruleForm.input_select = this.ruleForm.input_select == 1 ? 'input' : 'select'
            goodsAttrApi.attrCreate(this.ruleForm)
            .then(res=>{
              console.log(res)
            })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
        //   表单结束
      backShopCate(){
          this.$router.push({path:'/goods/attr'})
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      }
    },
     // 方法method结束
    
    data() {
      return {
        //   单选
        
        // 选择器开始
       options:[],
        // 选择器结束
          input:'',
        // 表单开始
ruleForm: {
          cat_id:'',
          attr_name: '',
          only_many: '',
          input_select: '',
         
        },
        rules: {
          attr_name: [
            { required: true, message: '请输入分类名称', trigger: 'change' }
          ],
          cat_id: [
            
          ],
          jump: [
            
          ]
        },
      
        // 表单结束
        value1: '',
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.create{
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    .userKug{display: flex; justify-content: space-between;
    }
    // .formBD{clear: both;}
    .pjump{background: #EBEEF5;width: 100%; text-align: right;}
}
</style>