<template>
<div class="list">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
    <div slot="header" class="clearfix">
         <span>商品分类</span> 
         <p style="flex:1"></p>
        <el-button type="primary" @click='cerateFn' round >创建</el-button>
        <el-button type="primary" round >返回</el-button>
    </div>
    <!-- 表单开始 -->
    <div class="formBG">
       <template>
        <el-table
            :data="tableData"
            stripe
            border
            style="width: 100%">
            <el-table-column
            prop="cat_name"
            label="所属商品类型"
            width="140">
            </el-table-column>
            <el-table-column
            prop="attr_id"
            label="编号"
            width="100">
            </el-table-column>
            <el-table-column
            prop="attr_name"
            label="属性名称"
            width="120">
            </el-table-column>
            <el-table-column
            prop="number"
            label="数量"
            width="100">
               <template slot-scope="item">
                   {{item.row.only_many == 'only' ? '单选属性': '多选属性'}}
               </template>
            </el-table-column>
            <el-table-column
            prop="enter"
            label="录入方式"
            width="150">
              <template slot-scope="item">
                   {{item.row.input_select == 'input' ? '手工录入': '下拉选择'}}
               </template>
            </el-table-column>
            <el-table-column
            prop="choose"
            label="可选值"
            width="150">
            </el-table-column>
            <el-table-column
            prop="take"
            label="操作">
                <template slot-scope="item">
                    <el-button type="primary" icon="el-icon-edit" circle></el-button>
                    <el-button type="danger" icon="el-icon-delete" @click='del(item.row.attr_id)' circle></el-button>
                </template>
            </el-table-column>
        </el-table>
        </template>
    </div>
    <!-- 表单结束 -->
    <div class="page">
        <div class="block">
            <!-- <span class="demonstration">完整功能</span> -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage4"
            :page-sizes="[100, 200, 300, 400]"
            :page-size="100"
            layout="total, sizes, prev, pager, next, jumper"
            :total="400">
            </el-pagination>
        </div>
    </div>
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { goodsAttrApi } from '@/api'
  export default {
    created(){
      this.initData()
    },
       // 方法method开始
      methods: {
        cerateFn(){
          this.$router.push({path:'attr/create'})
        },
        //删除
        del(attr_id){
          goodsAttrApi.attrdel({attr_id})
          .then(res=>{
            console.log(res)
            this.$message({type: 'success',message: '操作成功!'}),
            this.initData()
          })
        },
        //接口封装 
       initData(){
        goodsAttrApi.goodsAttr()
        .then(res=>{
          console.log(res)
          this.tableData = res.data.list
          // this.pagetotal = parseInt(res.data.total)
        })
      },  
           
       
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      }
    },
     // 方法method结束
    data() {
      return {
        formData:{
          pagenum:1,
          pagesize:5,
          type_id:2
        },
        //   分页开始
        currentPage1: 5,
        currentPage2: 5,
        currentPage3: 5,
        currentPage4: 4,
        // 分页结束
          //表格开始
          tableData: [],
          //表格结束
          input:'',
        
        value1: '',
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.list{
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    .userKug{display: flex; justify-content: space-between;
    }
    // .formBG{clear: both;}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
}
</style>