<template>
<div class="Breadcrumb">
     <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>{{Bname1}}</el-breadcrumb-item>
        <transition 
        appear enter-active-class="animated fadeInRight" 
        mode="out-in">
        <el-breadcrumb-item :key="key">{{Bname2}}</el-breadcrumb-item>                       
    </transition>
    </el-breadcrumb>
</div>
</template>
<script>
export default {
    props:['Bname1','Bname2'],
    computed: {
        key() {
            return this.$route.path
        }
    },
}
</script>
<style lang='scss' scoped>
.Breadcrumb{width: 400px; height: 50px; display: flex; align-items: center; margin-left: 10px;}
</style>