<template>
<div class="user">
    <div class="left">
            <el-menu 
            background-color='#253144'
            text-color='#A6B2C5'
            default-active="1-4-1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isHiddenMenu">
                <el-submenu  v-for="(firstItem) in menu" :key="firstItem.auth_id" :index="firstItem.auth_id">
                    <template slot="title">
                    <i class="el-icon-menu"></i><span slot="title">{{firstItem.auth_name}}</span>
                    </template>
                    <el-menu-item v-for="(twoItem) in firstItem.children" :key="twoItem.auth_id" :index="twoItem.auth_id" @click="jump(twoItem.url)">
                        <i class="el-icon-setting"></i>{{twoItem.auth_name}}
                    </el-menu-item>
                </el-submenu>
            </el-menu>
    </div>
    <div class="right">
        <div class="top">
            <div class="l">
                <p  class="btn" @click="menuHidden"><i :class="icon"></i></p>
                
                <p class="Breadcrumb">
                     <Breadcrumb v-bind:Bname1='Bname1' v-bind:Bname2='Bname2'></Breadcrumb>
                </p> 
            </div>
            <div class="r">
                <span>{{uname}}({{roleName}})</span>
                <i class="el-icon-switch-button" @click='leave'></i>
                <!-- <i class="el-icon-full-screen"></i> -->
                <div class="header-user-con">
       <!-- 全屏显示 -->
                <div @click="handleFullScreen">
                    <el-tooltip effect="dark" :content="fullscreen?`取消全屏`:`全屏`" placement="bottom">
                            <i class="el-icon-full-screen"></i>
                    </el-tooltip>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
 
</div>
</template>
<script>
import { admin } from '@/api'
import {mapState} from 'vuex'
import Breadcrumb from '@/components/Breadcrumb.vue'
import driverStep from "@/utils/driver";
  export default {
    watch:{
        $route(newData,oldData){
            console.log(newData)
            this.Bname1 = newData.meta.Bname1
            this.Bname2 = newData.meta.Bname2
        }
    },
    components:{
        Breadcrumb
    },
    computed:{
        ...mapState({
            uname:state=> state.users.uname,
            roleName:state=> state.users.roleName
        })
    },
    created(){
        // console.log(this.$router.app._route.meta,111)
        // console.log(this.$route.path,2341)
        // console.log(this.$router,9999)
        //  console.log(this.$router.app._route,9999)
        //页面一打开就更新面包屑内容
        // this.Bname1 = this.$router.app._route.meta.Bname1
        // this.Bname2 = this.$router.app._route.meta.Bname2
        this.Bname1 = this.$route.meta.Bname1
        this.Bname2 = this.$route.meta.Bname2
        // token = localStorage.getItem('token')
        
        admin.menu()
        .then(res=>{
            // console.log(res)
            this.menu = res.data
        })
    },
    data() {
        
      return {
        Bname1:'后台首页',
        Bname2:'欢迎页',
        menu:[],
        isHiddenMenu: false,
        icon:'el-icon-s-fold',
        fullscreen:''
      };
    },  
    methods: {
          
        // 全屏事件
            handleFullScreen() {
                let element = document.documentElement;
                if (this.fullscreen) {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.webkitCancelFullScreen) {
                        document.webkitCancelFullScreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                } else {
                    if (element.requestFullscreen) {
                        element.requestFullscreen();
                    } else if (element.webkitRequestFullScreen) {
                        element.webkitRequestFullScreen();
                    } else if (element.mozRequestFullScreen) {
                        element.mozRequestFullScreen();
                    } else if (element.msRequestFullscreen) {
                        // IE11
                        element.msRequestFullscreen();
                    }
                }
                this.fullscreen = !this.fullscreen;
            },
    //   退出当前登录
      leave(){
          this.$confirm('退出当前登录, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$router.push({path:'/login'})
          this.$message({
            type: 'success',
            message: '操作成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          });          
        });
      },
    //  菜单栏跳转开始
    //   jump(url){
    //       this.$router.push({path:url})
    //   },
      //  菜单栏跳转结束
      menuHidden(){
          this.isHiddenMenu = !this.isHiddenMenu 
         this.isHiddenMenu ? this.icon = 'el-icon-s-unfold' : this.icon = 'el-icon-s-fold'
      },
      handleOpen(key, keyPath) {
        // console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        // console.log(key, keyPath);
      }
    }
  }
</script>
<style lang='scss' scoped>
 .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
.user{
    width: 100%; height: 100%; display: flex; overflow: hidden;
    .left{ height: 100%;  background: #253144;}
    .right{ width: 100%; height: 100%;  overflow-y: auto;
        .top{height: 50px; box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08); display: flex; justify-content: space-between; padding:0 10px 0 10px;
            .l{width: 500px;  height: 50px; display: flex;
                .btn{width: 50px; height: 50px;display: flex; font-size: 30px; justify-content: center;align-items: center;}
            }
            .r{width: 200px; margin-right:40px; height: 50px; display: flex; justify-content: space-between; align-items: center;
                i{font-size: 18px;}
            }
        }
        .content{width:96%; margin: auto; min-height: 350px; margin-top: 40px; box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);}
    }
 .el-menu{ border: none; }
}
</style>