<template>
<div class="welcome">
     <img src="@/assets/imgs/img.gif" />
</div>
</template>
<script>
export default {
}
</script>
<style lang='scss' scoped>
    img{
        width: 999px; height: 600px;
    }
</style>