<template>
<div class="create">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
    <div slot="header" class="clearfix">
         <span>创建商品类型</span> 
         <p style="flex:1"></p>
        <!-- <el-button type="primary" round @click='backShopCate'>返回</el-button> -->
    </div>

      <el-input  
        placeholder="输入关键字进行过滤"  
        v-model="filterText" >
        </el-input>      

<!--  -->
      <el-tree 
      class="filter-tree"
      :data="data" 
      :props="defaultProps" 
      default-expand-all
      :filter-node-method="filterNode"
      ref="tree2">
      </el-tree>
         


    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { authApi } from "@/api";
  export default {
    created(){
      this.initData()
    },
    watch: {
      filterText(val) {
        this.$refs.tree2.filter(val);
      }
    },
       // 方法method开始
      methods: {
        initData(){
          authApi.authList()
          .then(res=>{
            console.log(res)
            this.data = res.data
          })
        },

        filterNode(value, data) {
        if (!value) return true;
        return data.auth_name.indexOf(value) !== -1;
      },

    },
     // 方法method结束
    
    data() {
      return {
        filterText: '',
        data: [],
        defaultProps: {
          children: 'children',
          label: 'auth_name'
        },
             
      };
    }
  };
</script>
<style lang='scss' scoped>
.create{
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    .userKug{display: flex; justify-content: space-between;
    }
    // .formBD{clear: both;}
    .pjump{background: #EBEEF5;width: 100%; text-align: right;}
}
</style>