<template>
<div class="create">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
    <div slot="header" class="clearfix">
         <span>创建商品分类</span> 
         <p style="flex:1"></p>
        <el-button type="primary" round @click='backShopCate'>返回</el-button>
    </div>
     <div class="form">
         <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="账户" prop="username">
                <el-input type="usernameword" v-model="ruleForm.username" autocomplete="off"></el-input>
            </el-form-item>
             <el-form-item label="密码" prop="password">
                <el-input type="usernameword" v-model="ruleForm.password" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密保问题" prop="question">
            <el-select v-model="ruleForm.question" placeholder="请选择">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select> 
            </el-form-item>
            <el-form-item label="密保答案" prop="answer">
                <el-input v-model.number="ruleForm.answer"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                <el-button @click="resetForm('ruleForm')">重置</el-button>
            </el-form-item>
        </el-form>
     </div>
     
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { usersGlApi } from '@/api'
  export default {
       // 方法method开始
      methods: {
          //级联选择器开始
          handleChange(value) {
        console.log(value);
      },
          //级联选择器结束
          //表单开始
          submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert('submit!');
            usersGlApi.peopleCreate(this.ruleForm)
            .then(res=>{
              console.log(res)
              if(res.meta.state == 201){
                 this.$message.success('操作成功');
                 this.$router.push({path:'/users'})
              }
            })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
        //   表单结束
      backShopCate(){
          this.$router.push({path:'/users'})
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      }
    },
     // 方法method结束
    
    data() {
      return {
        // 级联选择器开始
        options: [{
          value: '选项1',
          label: '母亲的名字'
        }, {
          value: '选项2',
          label: '爷爷的名字'
        }, {
          value: '选项3',
          label: '父亲出生的城市'
        }, {
          value: '选项4',
          label: '您其中一位老师的名字'
        }, {
          value: '选项5',
          label: '您计算机的编号'
        }],
        value: '',
        // 级联选择器结束
          input:'',
        // 表单开始
ruleForm: {
          question:'',
          username: '',
          password: '',
          answer: ''
        },
        rules: {
          username: [
            { required: true, message: '请输入分类名称', trigger: 'change' }
          ],
          password: [
            
          ],
          answer: [
            
          ]
        },
      
        // 表单结束
        value1: '',
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.create{
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    .userKug{display: flex; justify-content: space-between;
    }
    // .formBD{clear: both;}
    .panswer{background: #EBEEF5;width: 100%; text-align: right;}
}
</style>