<template>
<div class="history">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
    <div slot="header" class="clearfix">
        <span>访客记录</span>
        <!-- <el-button style="float: right; padding: 3px 0" type="text">访客记录</el-button> -->
    </div>
    <div class="userKug">
            <p class="a1" style="width:245px">
                    <el-input
                        placeholder="请输入用户名"
                        v-model="input"
                        clearable>
                    </el-input>
                </p>
                <p class="a2"><el-button icon="el-icon-search" @click='search'></el-button></p>
                <p class="aa" style="flex:1"></p>
                <p class="a3">
                    <template>
                        <div class="block">
                             <el-date-picker
                                @change='changeFn'
                                v-model="value2"
                                type="datetimerange"
                                align="right"
                                start-placeholder="登录开始日期"
                                end-placeholder="登录结束日期"
                                :default-time="['12:00:00', '08:00:00']">
                              </el-date-picker>
                        </div>
                    </template>
                </p>
               
    </div>
    <div class="formBD">
        <template>
            <el-table
            :data="tableData"
            stripe
            style="width:100%">
            <el-table-column
            prop="id"
            label="编号"
            width="110">
            </el-table-column>
            <el-table-column
            prop="username"
            label="用户"
            width="100">
            </el-table-column>
            <el-table-column
            prop="login_time"
            label="登录时间"
            width="220">
            </el-table-column>
            <el-table-column
            prop="prev_login_time"
            label="上次登录时间"
            width="320">
            </el-table-column>
        </el-table>
    </template>
    </div>
    <div class="page">
        <div class="block">
            <!-- <span class="demonstration">完整功能</span> -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage4"
            :page-sizes="[5, 10, 20, 30]"
            :page-size=parseInt(formData.pagesize)
            layout="total, sizes, prev, pager, next, jumper"
            :total=pageTotal>
            </el-pagination>
        </div>
    </div>
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>

<script>
import {usersApi} from '@/api'

  export default {
    created(){
      this.initData()
    },
       // 方法method开始
      methods: {
      changeFn(){
          console.log(this.value2)
          this.formData.start_time = this.value2[0]
          this.formData.end_time = this.value2[1]
          this.initData()
      },
      search(){
          this.formData.uname = this.input
          this.initData()
      },
      // 接口initData
      initData(){
          usersApi.history(this.formData)
          .then(res=>{
            console.log(res)
            this.tableData = res.data.list
            this.pageTotal = parseInt(res.data.total)
          })
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.formData.pagesize = val
        this.initData()
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
        this.formData.pagenum = val
        this.initData()
      }
    },
     // 方法method结束
    data() {
      return {
        //参数设置
        pageTotal:10,
        formData:{
          pagenum:'',
          pagesize:'',
          start_time:'',
          end_time:'',
          uname:'',
        },
        //   分页开始
        currentPage1: 5,
        currentPage2: 5,
        currentPage3: 5,
        currentPage4: 4,
        // 分页结束
          //表格开始
          tableData: [{
          ID: '2016-05-02',
          name: '王小虎',
          loginTime: '2020-08-21 17:09:13',
          preLoginTime:'2020-08-21 17:09:13',
        }, {
          ID: '2016-05-04',
          name: '王小虎',
          loginTime: '2020-08-21 17:09:13',
          preLoginTime:'2020-08-21 17:09:13',
        }, {
          ID: '2016-05-01',
          name: '王小虎',
          loginTime: '2020-08-21 17:09:13',
          preLoginTime:'2020-08-21 17:09:13',
        }, {
          ID: '2016-05-03',
          name: '王小虎',
          loginTime: '2020-08-21 17:09:13',
          preLoginTime:'2020-08-21 17:09:13',
        }, {
          ID: '2016-05-03',
          name: '王小虎',
         loginTime: '2020-08-21 17:09:13',
          preLoginTime:'2020-08-21 17:09:13',
        }],
          //表格结束
          input:'',
        // 时间选择器
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.history{
    .userKug{display: flex; justify-content: space-between;
    }
    .formBD{margin-top: 20px;}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
}
</style>