<template>
<div class="list" >
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card"  style="width: 100%">
    <div slot="header" class="clearfix">
        <span>订单列表1</span>
        <p style="flex:1"></p>
        <el-button type="primary" round >导出数据</el-button>
    </div>
    <div class="userKug">
                <p class="a1" style="width:245px; display:flex">
                    <el-input placeholder="所属角色" v-model='input1'  clearable></el-input>
                    <el-button icon="el-icon-search" @click='search'></el-button> 
                </p>
                
                <p class="aa" style="flex:1"></p>
                <p class="a3">
                    <template>
                        <div class="block">
                            <el-date-picker
                            @change="timeFn" 
                            v-model="value1"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            type="datetimerange"
                            range-separator="至"
                            start-placeholder="下单开始日期"
                            end-placeholder="下单结束日期">
                            </el-date-picker>
                        </div>
                    </template>
                </p>
               
    </div>
    <div class="formBD" >
        <template style="width: 100%">
            <el-table :data="tableData" stripe  style="width: 100%">

            <el-table-column prop="user_id" label="编号" width="100" align="center">
            </el-table-column>
            <el-table-column prop="role_name" v-model='role_name' label="所属角色" width="100" align="center">
            </el-table-column>
            <el-table-column prop="username" v-model='username' label="用户名"  width="100" align="center">
            </el-table-column>
            <el-table-column prop="mobile_phone" v-model='mobile_phone'  label="手机号"  width="100" align="center">
            </el-table-column>

            <el-table-column prop="state" label="冻结" width="80" align="center">
                <template slot-scope="item">
                  <el-switch v-model="item.row.state" @change="stateQh(item.row.user_id,item.row.state)" active-value=1 inactive-value=0	 active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                </template>
            </el-table-column>
            
            <el-table-column prop="take"  label="操作 "  width="250" align="center">
              <template slot-scope="item">
                   <el-button type="primary" round @click="showMessageDialog(item.row)">主要按钮</el-button>
                   <el-button type="primary"  @click='putMobile' icon="el-icon-edit" circle></el-button>
                   <el-button type="danger"  icon="el-icon-delete" circle></el-button>
              </template>
                   
            </el-table-column>

        </el-table>
    </template>
    </div>
    <div class="page">
        <div class="block">
            <!-- <span class="demonstration">完整功能</span> -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage4"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="100"
            layout="total, sizes, prev, pager, next, jumper"
            :total=parseInt(pageTotal)>
            </el-pagination>
        </div>
    </div>
    <div class="mobile">
      <el-form :model="ruleForm1" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
          <el-form-item label="用户编号" prop="user_id">
            <el-input type="text" v-model="ruleForm1.user_id" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="用户名" prop="username">
            <el-input type="text" v-model="ruleForm1.username" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="密保问题" prop="question">
            <el-input v-model.number="ruleForm1.question"></el-input>
          </el-form-item>
          <el-form-item label="密答案" prop="answer">
            <el-input v-model.number="ruleForm1.answer"></el-input>
          </el-form-item>
          <el-form-item label="手机号" prop="mobile">
            <el-input v-model.number="ruleForm1.mobile"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitUpdate">提交</el-button>
            <el-button @click="resetForm('ruleForm1')">重置</el-button>
          </el-form-item>
        </el-form>
    </div>
    <!-- 弹框开始 -->
    <div class="MessageBox">
          <el-dialog title="角色分配" :visible.sync="dialogFormVisible">
              <el-form :model="form">
                <el-form-item label="当前账号" :label-width="formLabelWidth">
                    <el-tag>{{username}}</el-tag>
                </el-form-item>
                <el-form-item label="当前角色" :label-width="formLabelWidth">
                    <el-tag>{{role_name}}</el-tag>
                </el-form-item>
                  <template>
                        <el-form-item label="选择角色" :label-width="formLabelWidth">
                        <el-select v-model="ruleForm.role_id" placeholder="请选择">
                            <el-option :key="item.role_id" v-for="item in roleData" :label="item.role_name" v-model="item.role_id" :value="item.role_name"></el-option>
                        </el-select>{{ruleForm.role_id}}
                        <!-- <el-select v-model="ruleForm.role_id" placeholder="请选择">
                    <el-option v-for="item in roles" :key="item.role_id" :label="item.role_name" :value="item.role_id">
                    </el-option>
                </el-select> -->
                      </el-form-item>
                </template>
              </el-form>
              <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible2">确 定</el-button>
              </div>
          </el-dialog>
    </div>
    <!-- 弹框开始 -->
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { usersGlApi } from '@/api'
  export default {
    created(){
      this.initData()

      usersGlApi.nowroles()
      .then(res=>{
        // console.log(res.data)
        this.roleData = res.data
      })
     
    },
       // 方法method开始
      methods: {
        //状态切换
        stateQh(user_id,state){
          usersGlApi.stateChange({user_id,state})
          .then(res=>{
            console.log(res)
            if(res.meta.state == 200){
              this.$message.success(res.meta.msg)
            }else{
              this.$message.error(res.meta.msg)
            }
          })
        },
        submitUpdate(){
          usersGlApi.userBj(this.ruleForm1)
          .then(res=>{
            console.log(res)
            if(res.meta.state == 200){
              this.$message.success(res.meta.msg)
            }else{
              this.$message.error(res.meta.msg)
            }
          })
        },
        putMobile(){
          document.querySelector('.mobile').style.display="block"
        },
        con(){
          alert(this.moblie)
          alert(localStorage.getItem('token'))
          usersGlApi.userBj({moblie:15850776673})
          .then(res=>{
            // console.log(res)
          })
        },
        dialogFormVisible2(){
          usersGlApi.roles(this.ruleForm)
          .then(res=>{
            // console.log(res)
            if(res.meta.state == 200){
              this.initData()
              this.$message.success('操作成功');
              this.dialogFormVisible = false
            }
          })
        },
        timeFn(){
          this.apiDataParams.start_time = this.value1[0]
          this.apiDataParams.end_time = this.value1[1]
          this.initData()
        },
        search(){
            this.apiDataParams.uname = this.input1
            this.initData()
        },
        initData(){
          usersGlApi.userList(this.apiDataParams)
          .then(res=>{
            console.log(res)
            this.tableData = res.data.list
            this.pageTotal = parseInt(res.data.total)
          })
        },
        //显示弹框
      showMessageDialog(data){
        // console.log(data)
         this.ruleForm.user_id = data.user_id
         this.username = data.username
         this.role_name = data.role_name
         this.dialogFormVisible = true
      },
      handleSizeChange(val) {
        // console.log(`每页 ${val} 条`);
        this.apiDataParams.pagesize = val
        this.initData()
      },
      handleCurrentChange(val) {
        // console.log(`当前页: ${val}`);
        this.apiDataParams.pagenum = val
        this.initData()
      }
    },
     // 方法method结束
    data() {
      return {
        ruleForm1:{
          user_id:"",
          username:'',
          question:'',
          answer:'',
          mobile:'',
        },
        rules:{},
        mobile: '',
        ruleForm:{role_id:'',user_id:''},

        roleData:[],

        mobile_phone:'',
        role_name:'',
        username:'',

        pageTotal:'',
        apiDataParams:{
          pagenum:'',
          pagesize:'',
          uname:'',
          start_time:'',
          end_time:'',
        },
        //弹框开始
         gridData: [],
        dialogTableVisible: false,
        dialogFormVisible: false,
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        formLabelWidth: '120px',
        //弹框结束
        //   分页开始
        currentPage1: 5,
        currentPage2: 5,
        currentPage3: 5,
        currentPage4: 4,
        // 分页结束
          //表格开始
          tableData: [],
          //表格结束
          
        // 时间选择器
        pickerOptions: {
          shortcuts: []
        },
        value1: '',
        value2: '',
        input1:''
      };
    }
  };
</script>
<style lang='scss' scoped>
.list{
    .userKug{display: flex; justify-content: space-between;
    }
    .formBD{margin-top: 20px; width:100%}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    .mobile{
      // position: fixed; top:200px; 
      display:none
    }
}
</style>