<template>
<div class="login">
   
     <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="0x" class="demo-ruleForm">
           <h1>B2C电商管理系统</h1>
           <!-- 密保登录 -->
           <div class="mib" ref='mib'  >
           <el-select v-model="ruleForm.question" clearable placeholder="请选择密保问题">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
        <el-form-item label="" prop="answer">
            <el-input type="text" prefix-icon="el-icon-search" clearable v-model="ruleForm.answer" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="" prop="uname">
            <el-input type="text" prefix-icon="el-icon-search" clearable v-model="ruleForm.uname" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="" prop="pwd">
            <el-input prefix-icon="el-icon-search" show-password  clearable v-model="ruleForm.pwd"></el-input>
        </el-form-item>
        </div>
        <!--  -->
        <div class="bj">
          <div class="qrcode" ref="qrCodeUrl"></div>
        </div>
        <!--  -->
           <!-- 短息登录 -->
        <div class="ms" ref='dxdl' style="display:none">
            <el-form-item label="" prop="">
                <el-input type="text" prefix-icon="el-icon-search" placeholder="请输入手机号码"  clearable v-model="message.mobile" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="" prop="">
                <el-input type="text" style="width:180px;" prefix-icon="el-icon-search"  placeholder="请输入验证码"  clearable v-model="message.code" autocomplete="off"></el-input>
                <el-button style="width:100px;float:right"  @click="getCode">获取验证码</el-button>
            </el-form-item> 
        </div>
        <el-form-item>
            <el-button class="mb" ref="mb"   type="primary" @click="submitForm('ruleForm')">密保登录</el-button><!-- 密保登录 -->
            <el-button class="dx" ref='dx' style="display:none"  type="primary" @click="mesDl('ruleForm')">短息登录</el-button><!-- 短息登录 -->

            <el-button  @click='mbBtn' style="width:90px; margin-top:10px; height:40px; font-size:18px ;float:left" type="primary" icon="el-icon-user-solid"></el-button>
            <el-button  @click='msBtn'  style="width:90px; margin-top:10px; height:40px; font-size:18px ;float:left" type="primary" icon="el-icon-message"></el-button>
            <el-button  @click="ewm"  style="width:90px; margin-top:10px; height:40px; float:left;font-size:18px" type="primary" icon="el-icon-full-screen"></el-button>
        </el-form-item>
     </el-form>
</div>
</template>
<script>

import { postLoginApi } from '@/api'
import QRCode from 'qrcodejs2'

  export default {
    created(){
      
    },
    mounted() {
    // this.creatQrCode();
    
},
    data() {
      var checkUname = (rule, value, callback) => {
        if (value === '') return callback(new Error('姓名不能为空')); 
          callback();
      };
      var checkPwd = (rule, value, callback) => {
        if (value === '') return callback(new Error('密码不能为空')); 
        if (value.length <= 3 || value.length >= 10) return callback(new Error('密码3-10位')); 
          callback();
      };
      return {
        bs:'',
        url:'',
        //短信
        adress:'',
        message:{
          mobile:'',
          code:''
        },

          options: [
            { value: '你奶奶的名字叫什么', label: '你奶奶的名字叫什么' },
            { value: '你爸爸的名字叫什么', label: '你爸爸的名字叫什么' },
            { value: '您其中一位老师的名字', label: '您其中一位老师的名字' },],
        value: '',

        ruleForm: {
          question: '',
          answer:'',
          uname: '',
          pwd: '',
        },
        rules: {
          answer: [
              { required: true, message: '请输入密保', trigger: 'blur' },
              { min: 3, max: 15, message: '长度在 3 到 15 个字符', trigger: 'blur' }
          ],
          uname: [
              { required: true, message: '请输入用户名', trigger: 'blur' },
               { validator: checkUname, trigger: 'blur' }
          ],
          pwd: [
             { required: true, message: '请输入密码', trigger: 'blur' },
             { validator: checkPwd, trigger: 'blur' }
          ],
          mobile: [
             { required: true, message: '请输入手机号码', trigger: 'blur' },
          ],
          pwd: [
             { required: true, message: '请输入验证码', trigger: 'blur' },
          ],
        
        }
      };
    },
   
    methods: {
       //检测是否登录成功
      isDL(){
        // bs : 全球唯一标识
          // console.log(this.bs)
          //定时器检查登录是否成功
          let t
      t =  setInterval(()=>{
          postLoginApi.dl({state:this.bs})
          .then(res=>{
            // console.log(res)
            if(res.meta.state == 200)
            {
              this.$message.success('登录成功')
               this.$store.dispatch('users/setUserinfo',{
                        token: res.data.token,
                        uname: res.data.uname,
                        roleName:res.data.roleName,
                      })
               this.$router.push({path:"/"})
               clearInterval(t)
          } 
          
          })
          },1000)
      },
      //ewm  二维码封装
      ewm(){
         
        // document.querySelector('bj').style.display ="block"
            // document.querySelector('.qrcode').style.display="block"
            function uuid() {
            var s = [];
            var hexDigits = "0123456789abcdef";
            for (var i = 0; i < 36; i++) {
              s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
            s[8] = s[13] = s[18] = s[23] = "-";

            var uuid = s.join("");
            return (new Date).getTime() + "-" + uuid;
          }
          // console.log(uuid())
          this.bs = uuid()
          this.url = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxed58e834201d0894&redirect_uri=http://kg.zhaodashen.cn/v2/qr/login.php&response_type=code&scope=snsapi_base&state='+this.bs+'&connect_redirect=1#wechat_redirect'
        // console.log(this.url)
        
         this.creatQrCode()
         this.isDL()
      },
      creatQrCode() {
        var qrcode = new QRCode(this.$refs.qrCodeUrl, {
            text: this.url, // 需要转换为二维码的内容
            width: 230,
            height: 230,
            colorDark: '#000000',
            colorLight: '#ffffff',
            correctLevel: QRCode.CorrectLevel.H
        })
    },
      mbBtn(){
          document.querySelector('.mb').style.display='block'
          document.querySelector('.mib').style.display='block'
          document.querySelector('.dx').style.display='none'
          document.querySelector('.ms').style.display='none'
       
      },
      msBtn(){
          document.querySelector('.mb').style.display='none'
          document.querySelector('.mib').style.display='none'
          document.querySelector('.dx').style.display='block'
          document.querySelector('.ms').style.display='block'
       
      },
       
      //短息登录
      mesDl(){
        postLoginApi.message(this.message)
        .then(res=>{
          // console.log(res)
          if(res.meta.state == 200){
            
            this.$store.dispatch('users/setUserinfo',{
                        token: res.data.token,
                        uname: res.data.uname,
                        roleName:res.data.roleName,
                      })
                      this.$message.success('登录成功')
            this.$router.push({path:"/"})
          }else{
            this.$message.error(res.meta.msg)
          }
        })
      },
      //获取验证码
      getCode(){
        postLoginApi.mobile({mobile:this.message.mobile})
        .then(res=>{
          // console.log(res)
          if(res.meta.state == 201) this.$message.success('发送成功')
          else{ this.$message.error( this.meta.msg ) }
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert('submit!');
            
             let params = this.ruleForm
             
              postLoginApi.login(params)
              .then(res=>{
                console.log(res.data.token)
                console.log(res)
                if(res.meta.state == 200){
                  
                    this.$store.dispatch('users/setUserinfo',{
                      
                        token: res.data.token,
                        uname: res.data.uname,
                        roleName:res.data.roleName,
                      })
                    this.$message.success(res.meta.msg);
                    this.$router.push({path:'/'})
              } else {
                
                this.$message.error(res.meta.msg);
              }
              })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>
<style lang='scss' scoped>
.login{
    display: flex; align-items: center; justify-content: center;
    width: 100%; height: 100%; background: #222B3B;
    h1{color: white; text-align: center; width: 300px; margin-bottom: 20px;}
    .el-form{
        width: 300px; height: 370px;  
        .el-select{ width: 300px; margin-bottom: 23px; }
        .el-button{ width: 300px; }
    }
  .qrcode{
    position: fixed; z-index: 12; top:250px; left: 1000px;
  }
  // .bj{
  //   width: 300px; height: 300px; background: black;
  //   opacity: 0.5;position: fixed; z-index: 3; top:100px; 
     
  // }
}
</style>