<template>
<div class="create">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
    <div slot="header" class="clearfix">
         <span>创建商品类型2</span> 
         <p style="flex:1"></p>
        <el-button type="primary" round @click='backShopCate'>返回</el-button>
    </div>
     <div class="form">
         <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="类型名称" prop="type_name">
                <el-input type="text" v-model="aaa" autocomplete="off"></el-input>
            </el-form-item>
            
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                <el-button @click="resetForm('ruleForm')">重置</el-button>
            </el-form-item>
        </el-form>
     </div>
     
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { goodsAttrApi } from '@/api'
  export default {
       // 方法method开始
      methods: {
          //级联选择器开始
          handleChange(value) {
        console.log(value);
      },
          //级联选择器结束
          //表单开始
          submitForm(formName) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                // alert(this.ruleForm.type_name)
                // goodsAttrApi.typeCj(this.ruleForm.type_name)
                goodsAttrApi.typeCj({type_name:this.aaa})
                .then(res=>{
                  console.log(res)
                  if(res.meta.state == 201){
                    this.$message.success(res.meta.msg)
                    // this.$router.push({path:'/goods/type'})
                    this.jump('/goods/type')
                  }
                })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
        //   表单结束
      backShopCate(){
          this.$router.push({path:'/goods/type'})
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      }
    },
     // 方法method结束
    
    data() {
      return {
        aaa:'',
        // 级联选择器开始
        // 级联选择器结束
          input:'',
        // 表单开始
        ruleForm: {
          type_name: '',
        },
        rules: {
          type_name: [
            // { required: true, message: '请输入分类名称', trigger: 'change' }
          ] 
        },
      
        // 表单结束
        value1: '',
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.create{
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    .userKug{display: flex; justify-content: space-between;
    }
    // .formBD{clear: both;}
    .pjump{background: #EBEEF5;width: 100%; text-align: right;}
}
</style>