<template>
<div class="list">
    <transition appear enter-active-class="animated fadeInRight" mode="out-in">
    <el-card class="box-card">
    <div slot="header" class="clearfix">
         <span>商品分类11</span> 
         <p style="flex:1"></p>
        <el-button type="primary" round @click="jump('/goods/type/create')">创建</el-button>
    </div>
    <!-- 表单开始 -->
    <div class="formBG">
       <template>
        <el-table
            :data="tableData"
            stripe
            style="width: 100%">
            <el-table-column
            prop="cat_id"
            label="编号"
            width="100">
            </el-table-column>
            <el-table-column
            prop="cat_name"
            label="分类名称"
            width="150">
            </el-table-column>
            <el-table-column
            prop="state"
            label="状态"
            width="150">
                <template slot-scope="item">
                    <el-switch
                    @change='stateFn(item.row.cat_id,item.row.state)'
                    active-value=1
                    inactive-value=0
                    v-model="item.row.state"
                    active-color="#13ce66"
                    inactive-color="#ff4949">
                    </el-switch>
                </template>
            </el-table-column>
            <el-table-column
            prop="take"
            label="操作">
                <template slot-scope='item'>
                    <el-button type="primary" round>商品属性</el-button>
                    <el-button type="primary" icon="el-icon-edit" circle></el-button>
                    <el-button type="danger" icon="el-icon-delete" circle @click="delFn(item.row.cat_id)"></el-button>
                </template>
            </el-table-column>
        </el-table>
        </template>
    </div>
    <!-- 表单结束 -->
    <div class="page">
        <div class="block">
            <!-- <span class="demonstration">完整功能</span> -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage4"
            :page-sizes="[5, 10, 15, 20]"
            
            layout="total, sizes, prev, pager, next, jumper"
            :total=parseInt(pagetotal)>
            </el-pagination>

            <!-- <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-sizes="[5, 10, 15, 20]"
            :page-size=parseInt(data.pagesize)
            layout="total, sizes, prev, pager, next, jumper"
            :total=parseInt(data.datatotal)>
            </el-pagination> -->


        </div>
    </div>
    </el-card>
    </transition>
</div>
</template>
<style>
  .text { font-size: 14px;}
  .item {margin-bottom: 18px;}
  .clearfix:before,
  .clearfix:after {display: table;content: "";}
  .clearfix:after {clear: both}
  .box-card { width: 100%;}
  
</style>
<script>
import { goodsAttrApi } from '@/api'
  export default {
    created(){
      this.initData()
    },
       // 方法method开始
      methods: {
        //类型删除
        delFn(type_id){
          // alert(type_id)
            goodsAttrApi.typeDelete({type_id})
            .then(res=>{
              console.log(res)
              this.initData()
            })
        },
      stateFn(type_id,state){
          goodsAttrApi.typeState({type_id,state})
          .then(res=>{
            if (res.meta.state == 200)
            {
                this.$message.success(res.meta.msg);
            } else {
                // tips
                this.$message.error(res.meta.msg);
            }
          })
      },
      initData(){
        goodsAttrApi.goodsType(this.formData)
        .then(res=>{
          // console.log(res)
          this.tableData = res.data.list
          this.pagetotal = parseInt(res.data.total)
        })
      },
      // createShopCate(){
      //     this.$router.push({path:'type/create'})
      // },
      handleSizeChange(val) {
        // console.log(`每页 ${val} 条`);
        this.formData.pagesize = val
        this.initData()
      },
      handleCurrentChange(val) {
        // console.log(`当前页: ${val}`);
        this.formData.pagenum = val
        this.initData()
      }
    },
     // 方法method结束
    data() {
      return {
        pagetotal:'1',
        formData:{
          pagenum:'1',
          pagesize:'4',
        },
        //   分页开始
        currentPage1: 5,
        currentPage2: 5,
        currentPage3: 5,
        currentPage4: 4,
        // 分页结束
          //表格开始
          tableData: [
             
          ],
          //表格结束
          input:'',
        
        value1: '',
        value2: ''
      };
    }
  };
</script>
<style lang='scss' scoped>
.list{
    .clearfix{display: flex;width:100%; justify-content: space-between;align-items: center;}
    .userKug{display: flex; justify-content: space-between;
    }
    // .formBG{clear: both;}
    .page{background: #EBEEF5;width: 100%; text-align: right;}
}
</style>